*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}
ul{
  list-style: none;
}
img{
  max-width: 100%;
}
h1,
h2,
h3,
h4{
  font-family: 'Bebas Neue', cursive;
}
html{
  scroll-behavior: smooth;
}